USE [master]
GO
/****** Object:  Database [comptoireDW]    Script Date: 12-Dec-25 3:36:28 PM ******/
CREATE DATABASE [comptoireDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'comptoireDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\comptoireDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'comptoireDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\comptoireDW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [comptoireDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [comptoireDW]
GO
/****** Object:  User [ayoub]    Script Date: 12-Dec-25 3:36:29 PM ******/
CREATE USER [ayoub] FOR LOGIN [ayoub] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ayoub]
GO
/****** Object:  Table [dbo].[Dim_Client]    Script Date: 12-Dec-25 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Client](
	[ID_Client] [int] IDENTITY(1,1) NOT NULL,
	[Code_Client_Source] [nvarchar](5) NOT NULL,
	[Societe] [nvarchar](40) NULL,
	[Ville] [nvarchar](15) NULL,
	[Pays] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Produit]    Script Date: 12-Dec-25 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Produit](
	[ID_Produit] [int] IDENTITY(1,1) NOT NULL,
	[Ref_Produit_Source] [int] NOT NULL,
	[Nom_Produit] [nvarchar](40) NULL,
	[Nom_Categorie] [nvarchar](15) NULL,
	[Prix_Unitaire] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Temps]    Script Date: 12-Dec-25 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Temps](
	[ID_Temps] [int] NOT NULL,
	[Date_Complete] [date] NULL,
	[Anne] [int] NULL,
	[Mois] [int] NULL,
	[Nom_Moins] [nvarchar](15) NULL,
	[Trimestre] [int] NULL,
	[Semestre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Temps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Ventes]    Script Date: 12-Dec-25 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Ventes](
	[ID_Ventes] [int] IDENTITY(1,1) NOT NULL,
	[FK_Client] [int] NULL,
	[FK_Produit] [int] NULL,
	[FK_Temps] [int] NULL,
	[Quantity] [int] NULL,
	[Montant] [money] NULL,
	[Remise] [real] NULL,
	[Delai_Livraison] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ventes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dim_Client] ON 

INSERT [dbo].[Dim_Client] ([ID_Client], [Code_Client_Source], [Societe], [Ville], [Pays]) VALUES (1, N'ALFKI', N'Alfreds Futterkiste', N'Berlin', N'Germany')
INSERT [dbo].[Dim_Client] ([ID_Client], [Code_Client_Source], [Societe], [Ville], [Pays]) VALUES (2, N'ANATR', N'Ana Trujillo Emparedados y helados', N'México D.F.', N'Mexico')
INSERT [dbo].[Dim_Client] ([ID_Client], [Code_Client_Source], [Societe], [Ville], [Pays]) VALUES (3, N'ANTON', N'Antonio Moreno Taquería', N'México D.F.', N'Mexico')
SET IDENTITY_INSERT [dbo].[Dim_Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Produit] ON 

INSERT [dbo].[Dim_Produit] ([ID_Produit], [Ref_Produit_Source], [Nom_Produit], [Nom_Categorie], [Prix_Unitaire]) VALUES (1, 1, N'Chai', N'Beverages', 18.0000)
INSERT [dbo].[Dim_Produit] ([ID_Produit], [Ref_Produit_Source], [Nom_Produit], [Nom_Categorie], [Prix_Unitaire]) VALUES (2, 2, N'Chang', N'Beverages', 19.0000)
INSERT [dbo].[Dim_Produit] ([ID_Produit], [Ref_Produit_Source], [Nom_Produit], [Nom_Categorie], [Prix_Unitaire]) VALUES (3, 3, N'Aniseed Syrup', N'Condiments', 10.0000)
SET IDENTITY_INSERT [dbo].[Dim_Produit] OFF
GO
INSERT [dbo].[Dim_Temps] ([ID_Temps], [Date_Complete], [Anne], [Mois], [Nom_Moins], [Trimestre], [Semestre]) VALUES (19960704, CAST(N'1996-07-04' AS Date), 1996, 7, N'July', 3, 2)
INSERT [dbo].[Dim_Temps] ([ID_Temps], [Date_Complete], [Anne], [Mois], [Nom_Moins], [Trimestre], [Semestre]) VALUES (19960705, CAST(N'1996-07-05' AS Date), 1996, 7, N'July', 3, 2)
INSERT [dbo].[Dim_Temps] ([ID_Temps], [Date_Complete], [Anne], [Mois], [Nom_Moins], [Trimestre], [Semestre]) VALUES (19960708, CAST(N'1996-07-08' AS Date), 1996, 7, N'July', 3, 2)
GO
SET IDENTITY_INSERT [dbo].[Fact_Ventes] ON 

INSERT [dbo].[Fact_Ventes] ([ID_Ventes], [FK_Client], [FK_Produit], [FK_Temps], [Quantity], [Montant], [Remise], [Delai_Livraison]) VALUES (1, 85, 11, 19960704, 12, 168.0000, 0, 12)
INSERT [dbo].[Fact_Ventes] ([ID_Ventes], [FK_Client], [FK_Produit], [FK_Temps], [Quantity], [Montant], [Remise], [Delai_Livraison]) VALUES (2, 85, 42, 19960704, 10, 98.0000, 0, 12)
INSERT [dbo].[Fact_Ventes] ([ID_Ventes], [FK_Client], [FK_Produit], [FK_Temps], [Quantity], [Montant], [Remise], [Delai_Livraison]) VALUES (3, 85, 72, 19960704, 5, 174.0000, 0, 12)
GO
SET IDENTITY_INSERT [dbo].[Fact_Ventes] OFF
GO
ALTER TABLE [dbo].[Fact_Ventes]  WITH CHECK ADD FOREIGN KEY([FK_Client])
REFERENCES [dbo].[Dim_Client] ([ID_Client])
GO
ALTER TABLE [dbo].[Fact_Ventes]  WITH CHECK ADD FOREIGN KEY([FK_Produit])
REFERENCES [dbo].[Dim_Produit] ([ID_Produit])
GO
ALTER TABLE [dbo].[Fact_Ventes]  WITH CHECK ADD FOREIGN KEY([FK_Temps])
REFERENCES [dbo].[Dim_Temps] ([ID_Temps])
GO
USE [master]
GO
